*{
   
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(73, 73, 221);
    background-image: url("../images/clouds.avif");
    align-items: center;
    background-position: center;
    background-size: cover;
    min-height: 600px;

}
.card{
    width: 500px;
    background-color: rgb(134, 184, 114);
    color: black;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    opacity: 0.6;
    
    
}
.search{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background-color: rgb(233, 232, 231);
    padding: 20px 25px;
    height: 30px;
    border-radius: 8px;
    flex: 1;
    margin-top: 10px;
    font-size: 15px;
}
.search button{
    border: 0;
    outline: 0;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    margin-left: 3px;
    margin-top: 10px;
    
}
.weather-icon{
    width: 200px;
    margin-top: 30px;
}
.weather h2{
    font-size: 50px;
    font-weight: 50px;
}
.weather h3{
    font-size: 30px;
    font-weight: 30px;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
    /* margin-top: -68px; */
}
.weather{
    display: none;
}